@charset "utf-8";
.main {
	font-size: 18px;
	font-family: Arial;
	color: #444;
	padding: 0;
	max-width: 748px;
	min-width: 320px;
	margin: 0 auto;
}
.main a {
	color: #444;
}
.main a:hover {
	color: #06f;
}
.main textarea, input, select {
	resize: none;
	outline: none;
	font-size: 1em;
}
.main .path {
	width: 100%;
	padding: 10px 0;
	color: #fff;
	font-family: "冼极";
	font-size:16px;
}
.main .path a {
	text-decoration: none;
	color: #fff;
}
.main .path a:hover {
	text-decoration: underline;
	border-bottom: 1px solid #fff;
}
.main .content {
	background-color: #fff;
	padding: 10px;
	text-align: justify;
	text-justify: distribute;
}
.main .content .ad {
	max-width: 728px;
	overflow: hidden;
	padding-bottom: 10px;
}
.main .content .area {
	max-width: 728px;
	line-height: 160%;
	overflow: hidden
}
.foot {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: center;
	line-height: 180%;
}
